@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our strictly serious company</h1>
    <p>Place order and leave.</p>
    <p>Here is our most serious worker. He is our accountant.</p>
    <img src="https://i.pinimg.com/originals/f6/b3/09/f6b309d2cc832f6308cc46c330fdb25a.gif" alt="Accountant"/>
</div>
