@model RegistracijosPozymiai.Dtos.Registrations.NewRegistration

<div class="row">
    <div class="table-responsive col-md-6 p-0">
        <table class="table table-bordered">
            <tr class="table-info">
                <th>Registracijos požymiai</th>
            </tr>
            @foreach(var a in Model.Attributes)
            {
                <tr style="height: 50px">
                    <td>@a.Name</td>
                </tr>
            }
        </table>
    </div>
    <div class="table-responsive col-md-6 p-0">
        <table class="table table-bordered">
            <tr class="table-info">
                <th>Reikšmė</th>
            </tr>
            @for(int i = 0; i < Model.Attributes.Count; i++)
            {
                <tr>
                    <td>
                        @if(Model.Attributes[i].RegistrationValues.Count > 0 && Model.SelectedValuesIds[i] != 0)
                        {
                            @Html.DropDownListFor(a => a.SelectedValuesIds[i]
                                , new SelectList(@Model.Attributes[i].RegistrationValues, "Id", "Name"))
                        }
                        else
                        {
                            @Html.DropDownListFor(a => a.SelectedValuesIds[i]
                                , Enumerable.Empty<SelectListItem>())
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>